            .spacer{
                min-height: 2%;
            }

            #img-opera{
                max-width: 100%;
                max-height: 50%;
                border: 5px inset   gray;
                margin-right: 10px;
                margin-top: 15px;
            }

#detail-opera{
  margin-top: 15px;
}

            #box{
              background-color: white;
              height: 100%;
            }
