<div id="box">
  <div class="spacer"></div>

  <div class="container" id="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="text-center" id="img">
          <img id="img-artista" src="{{artista.imgPath}}">
        </div>
      </div>
      <div class="col-xs-12 offset-0 col-md-6">
        <div class="" id="detail-artista" >
          <p><strong>Nome: </strong> {{artista.nome}} </p>
          <p><strong>Cognome: </strong> {{artista.cognome}}</p>
          <p><strong>Anno di nascita: </strong> {{artista.dataNascita}}</p>
          <p><strong>Anno di morte: </strong> {{artista.dataMorte}}</p>
          <p><strong>Città di nascita: </strong> {{artista.luogoNascita}}</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-12" id="desc-artista">
        <p><strong>Descrizione: </strong></p>
        <p>{{artista.descrizione}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12" id="elenco-opere">
        <p><strong>Elenco opere:</strong></p>
        <ul>
          <li *ngFor="let opera of listaOpere" (click)="onClickOpera(opera.id)" class="link">
            {{opera.titolo}}
          </li>
        </ul>
      </div>
    </div>

  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

  </div>
</div>

