#box{
      background-color: white;
      height: 100%;
    }

 .spacer{
          min-height: 2%;
        }


#nav-side{
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
}

.active-link{
  background-color:azure;
}

.letter{
  margin-bottom: -10px;
  margin-top: 20px;
}

