
<div id="box">
  <div class="row" style="max-width:100%">
    <div class="col-1" style="padding-left:3px; padding-right:3px">
      <!--<div class="" style="height:56px; border:1px solid black;" id="quadratoTroll"></div>-->
      <ul class="list-group nav" style="width:3%; height:50%;" id="nav-side">

        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="a" (click)="onAnchorClick()">A</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="b" (click)="onAnchorClick()">B</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="c" (click)="onAnchorClick()">C</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="d" (click)="onAnchorClick()">D</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="e" (click)="onAnchorClick()">E</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="f" (click)="onAnchorClick()">F</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="g" (click)="onAnchorClick()">G</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="h" (click)="onAnchorClick()">H</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="i" (click)="onAnchorClick()">I</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="j" (click)="onAnchorClick()">J</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="k" (click)="onAnchorClick()">K</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="l" (click)="onAnchorClick()">L</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="m" (click)="onAnchorClick()">M</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="n" (click)="onAnchorClick()">N</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="o" (click)="onAnchorClick()">O</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="p" (click)="onAnchorClick()">P</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="q" (click)="onAnchorClick()">Q</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="r" (click)="onAnchorClick()">R</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="s" (click)="onAnchorClick()">S</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="t" (click)="onAnchorClick()">T</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="u" (click)="onAnchorClick()">U</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="v" (click)="onAnchorClick()">V</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="w" (click)="onAnchorClick()">W</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="x" (click)="onAnchorClick()">X</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="y" (click)="onAnchorClick()">Y</a></li>
        <li class="list-group-item"><a routerLink="/elencoOpere" fragment="z" (click)="onAnchorClick()">Z</a></li>

      </ul>
    </div>

    <div class="col-10">

      <div *ngFor="let opera of opere">
        <br>
        <div>
          <p>Nome Opera: {{opera.titolo}}, (Autore:{{opera.autore}})</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-11">

          <div id="a">
            <h2 class="letter">A</h2>
            <hr>
            <ul class="list-group">
              <li class="list-group-item"><a href="/elencoOpere">La Gioconda </a>  (1502) - Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Gioconda, 1502, Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
            </ul>
          </div>

          <div id="b">
            <h2 class="letter">B</h2>
            <hr>
            <ul class="list-group">
              <li class="list-group-item"><a href="/elencoOpere">La Gioconda </a>  (1502) - Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Gioconda, 1502, Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
            </ul>
          </div>

          <div id="c">
            <h2 class="letter">C</h2>
            <hr>
            <ul class="list-group">
              <li class="list-group-item"><a href="/elencoOpere"><b>La Gioconda</b></a>  (1502) - Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Gioconda, 1502, Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
            </ul>
          </div>

          <div id="d">
            <h2 class="letter">D</h2>
            <hr>
            <ul class="list-group">
              <li class="list-group-item"><a href="/elencoOpere">La Gioconda </a>  (1502) - Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Gioconda, 1502, Leonardo Da Vinci</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
              <li class="list-group-item">La Primavera, bho, Sandro Botticelli</li>
            </ul>
          </div>

        </div>
      </div>

      <br> <br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    </div>

  </div>
</div>





