
        <div id="box">
        <div class="spacer"></div>


        <div class="container col-md-10 col-lg-9" id="wrapper">
            <h2 class="display-4 title-all">Inserisci Dati Artista:</h2>
            <div class="row">

                <form class="col-12" >

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Nome: <input class="form-control ">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group align-self-center marg-t">
                            <div class="alert alert-warning" style=" margin:0px; padding:6px; display:none" >
                                Il campo inserito deve avere una lunghezza
                            </div>
                        </div>
                    </div>

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Cognome: <input class="form-control ">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group align-self-center marg-t">
                            <div class="alert alert-warning" style=" margin:0px; padding:6px">
                                 Il campo inserito deve avere una lunghezza Il campo inserito deve avere una lunghezzaIl campo inserito deve avere una lunghezza
                            </div>
                        </div>
                    </div>

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Data di Nascita: <input class="form-control ">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group align-self-center marg-t">
                            <div class="alert alert-warning" style=" margin:0px; padding:6px" >
                                Il campo inserito deve avere una lunghezza
                            </div>
                        </div>
                    </div>

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Luogo di Nascita: <input class="form-control ">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group align-self-center marg-t">
                            <div class="alert alert-warning" style=" margin:0px; padding:6px" >
                                Il campo inserito deve avere una lunghezza
                            </div>
                        </div>
                    </div>

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Data di Morte: <input class="form-control ">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group align-self-center marg-t">
                            <div class="alert alert-warning" style="margin:0px; padding:6px" >
                                Il campo inserito deve avere una lunghezza
                            </div>
                        </div>
                    </div>

                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            Descrizione: <textarea class="form-control" rows="10"></textarea>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group marg-tt">
                            <div class="alert alert-info" style=" margin-top:25px; padding:6px" >
                                E' possibile utilizzare:<i>Testo</i>
                                <br>
                                <u>ETC</u>
                                <del>ETC</del>
                            </div>
                        </div>
                    </div>
                    <!-- TASTO SUBMIT -->
                    <div class="row col-12" style="padding:0px; margin:0px">
                        <div class="form-group col-xs-12 col-sm-6">
                            <input type="submit" class="btn btn-primary btn-lg" value="Invia">
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group  marg-t">

                        </div>
                    </div>
                </form>
            </div>

            <div class="row">


            </div>
        </div>
</div>
